---
const year = new Date().getFullYear();
---

<footer class="invisible md:visible">
  <p>{`</>`} with passion by Tomi Salo © {year}</p>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
		text-align: center;
	}
</style>
